################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vlc.Forms/packages
/Vlc.Forms/Vlc.Forms/Vlc.Forms/bin/Debug
/Vlc.Forms/Vlc.Forms/Vlc.Forms/obj/Debug
/Vlc.Forms/Vlc.Forms/Vlc.Forms.Droid/bin/Debug
/Vlc.Forms/Vlc.Forms/Vlc.Forms.Droid/obj/Debug
